*{
	margin:0;
	padding:0;
    
}

#nav-bar
{
	background-color:grey;
	
	top:0;
	z-index:10;
	float: right;
}
.navbar
{
	padding: 0 !important;
}

.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color: wheat !important;
font-weight:600;
float:right;
text-align:left;
}

.navbar-brand{
    font-size: 1.5rem;
    color:wheat!important;
    
}
#main1
{
    text-align: left;
    background-color:whitesmoke;
    color: white;

}
.container1 h1 img{
    padding-bottom: 20px;
}
.nav-link{
    float: right;
    color: grey!important;
    
}

.nav-link:hover{
    background-color: grey;
}
/* navbar css ends here  */
#main
{
	text-align: center;
    background-color:rgb(90, 194, 241);
    padding-top: 10px;
}
.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color:#708090!important;
    color: wheat!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: grey!important;
}
table.table-bordered{
    border:1px solid wheat;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border-radius: 5px !important;
    color:white;
    background-color: grey;
}
table.table-bordered > tbody > tr > td{
    
    background-color: wheat;
    border-radius: 5px !important;

}